.main {
  background: #202028;
  color: #fff;
  font-family: Helvetica;
  font-size: 2em;
  text-align: center;
  display: block;
  right: -255px;
}
.header {
  background: #202028;
  color: #fff;
  float: inherit;
}

.hud {
  z-index: +20;
  position: absolute;
}
#fight {
  border: 4px solid black;
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 0%;
  padding: 0;
  z-index: 0;
}
#health {
  position: absolute;
  z-index: 2;
  left: 320px;
  bottom: 140px;
}
#rock {
  position: absolute;
  left: 480px;
  bottom: 100px;
  z-index: 1;
}
#paper {
  position: absolute;
  left: 520px;
  bottom: 100px;
  z-index: 1;
}
#scissors {
  position: absolute;
  left: 560px;
  bottom: 100px;
  z-index: 1;
}
#tetris {
  position: static;
  border: solid .2em #C0C0C0;
  height: 70vh;
}
#attack {
}

#score {
  position: absolute;
  right: 405px;
  top: 230px;
  border: 3px solid #C0C0C0;
}
#action1 {
  position: absolute;
  right: 395px;
  top: 300px;
}
#action2 {
  position: absolute;
  right: 395px;
  top: 370px;
}
#action3 {
  position: absolute;
  right: 395px;
  top: 430px;
}
